.nothing-to-show
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-height:100vh !important;
}
.nothing-to-show img
{
    width: 400px;
}
.nothing-to-show h4
{
    opacity: 0.2;
    font-weight: bold;
    font-style: 19px;
}